configuration {
  font: "Source Code Pro 12";
  modi: "window,run,ssh,filebrowser";

  filebrowser {
    directory: "/home/patz/Keep";
    directories-first: true;
    sorting-method: "name";
  }
}

@theme "thyme"
